<nav class="navbar navbar-light bg-primary d-flex flex-row justify-content-between">
    <div class="logo">
    <a href="/" class="navbar-brand mx-4">
        <img src="https://cdn-icons-png.flaticon.com/512/2302/2302842.png" alt="" width="60">
    </a>
</div>
<div class="d-flex flex-row justify-content-around">
    <div class="github mx-3">
<a href="https://github.com/AmarildoZoletJunior" target="_blank">
    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" width="60">
</a>
</div>
<div class="linkedin mx-3">
<a href="https://www.linkedin.com/in/amarildozj/" target="_blank">
    <img src="https://cdn-icons-png.flaticon.com/512/1384/1384155.png" alt="" width="60">
</a>
</div>
</div>
</nav>