<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/perguntaSolo.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('../components/navbar.ejs') %>
    <div class="container col-8">
        <div class="title d-flex flex-row justify-content-between mt-3">
    </div>
        <hr>
                <div class="card mt-2">
                <div class="card-header">
                <h3>   <%=  perguntas.titulo   %>  </h3>
            </div>
            <div class="card-body">
                <h3>   <%=  perguntas .descricao   %>  </h3>
            </div>
        </div>
    </div>
    
</body>
<%- include ('../components/links.ejs') %>
</html>